.welcm-Header {
font-size: 20px;
font-family: 'Lucida Sans';
color:#b30000;
}

form {
    border: 1px solid black;
    padding: 30px;
    box-shadow: 6px 6px #d9d9d9;
 }
 form button{
    margin : 0 40%;
 }
 span{
    margin-left: 80px;
    color:  #000000;
    margin: 0px;
 }
 #navBarHeading{
     margin-left :425px;
 }
 .navbar-default{
 background-color :#cccccc;
 }
 .navbar-inverse{
    border:none;
    background-color:  #cccccc;
 }
 
 .navbar-inverse .navbar-nav>li>a{
    font-size: 20px;
    color: #5a0505;
 }

 .navbar-inverse .navbar-nav>li>a:hover{
    text-decoration: underline;
 }